<p id="notice"><%= notice %></p>


<p>
  <strong>Logo:</strong>
  <%= image_tag @organization.logo.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Country:</strong>
  <%= Country.find(@organization.country).name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @organization.currency %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @organization.time_zone %>
</p>


<row>
  <%= link_to  new_organization_invoice_path(@organization) , class:"btn btn-success" do %>
      <span class="glyphicon glyphicon-plus"></span> New Invoice
  <%end%>
  <%= link_to 'Invoices', organization_invoices_path(@organization), class:"btn btn-success"%>
  <%= link_to 'Customers',  organization_customers_path(@organization), class:"btn btn-success"  %>

</row>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

